.text-center {
    background-color: black;
    padding-top: 50px;
}
.text-white {
}
.container {
}
.p-4 {
}
.pb-0 {
}
.mb-4 {
}
.btn:hover {
   fill: black;
}
.btn-outline-light {
     border-radius: 50%;
}
.btn-floating {
}
.m-1 {
}
.fab {
}
.fa-facebook-f {
}
.fa-twitter {
}
.fa-google {
}
.fa-instagram {
}
.fa-linkedin-in {
}
.fa-github {
}
.p-3 {
}
.footer__iocns {
    width: 20px;
    height: 30px;
    fill: white;
}
.footer__link:hover {
    fill: black;
}
