.header {
  display: flex;
background-color: black;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-left: auto;
    margin-top: 10px;
    text-decoration: none;
    color:  rgba(185, 106, 127, 0.7);
    @include logo($size: 24px);
  }
  &__logo__color {
    @include logo($size: 24px);
    color: rgb(247, 244, 246);
  }
  &__icon__logo {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
      background: #B06F80;

  border-bottom: solid 1px rgb(102, 67, 96);
    &__logo {
   margin-left: 0;
    color: rgb(80, 64, 77);
   
  }
  }
  
  
  nav {
    display: flex;
  }
ul {
list-style: none;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 20px 25px;
  color: #fff;
 text-decoration: none;
 text-align: center;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
    background: #B06F80;
 
 border-radius: 0px 0px 10px 11px;
-webkit-border-radius: 0px 0px 10px 11px;
-moz-border-radius: 0px 0px 10px 11px;
box-shadow: 1px 10px 27px 2px rgba(242,237,237,0.4);
-webkit-box-shadow: 1px 10px 27px 2px rgba(242,237,237,0.4);
-moz-box-shadow: 1px 10px 27px 2px rgba(242,237,237,0.4);
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background: #856a77;
  border-radius: 5px;
}
ul li:hover ul.dropdown {
  display: block;
  padding: 0;
}
}